
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav {
	height: 50px;
    width: 1365px;
    background-color:black;
	
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px
}

nav a {
	font-size: 30px;
	text-decoration: none;
    color:azure;
}

nav a:hover {
	text-decoration: underline;
}

.banner {
	position: relative;
}

.banner img {
    width: 100px;
	height: 650px;
	object-fit: cover;
	filter: brightness(50%);
}

.banner-text {
	position: absolute;
    top: 400px;
	transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 680px;
    margin-right: 10px;
    color: azure;
}

.banner-text h1 {
	font-size: 90px;
    font-family: fantasy;
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 120px;
    color:azure

}

.banner-text p {
	font-size: 35px;
}



#pSuperheroProfile {
    margin-bottom: 80px;
}

#profilepic {
    width: 757px;
    height: 1000px;
    margin-top: 60px;
    margin-left: 30%;
    margin-bottom: 100px;
   
   
    
}


#profile-title {
    margin-top: 80px;
    margin-left: 60%;
    margin-bottom: 40px;
    margin-top: 70px;

}

#profile-spider-man {
    margin-top: 50px;
    margin-left: 57%;
    margin-bottom: 50px;
}

#profile-info {
    margin-top: 20px;
    margin-left: 357px;
}

#testimonials-title {
    margin-top: 180px;
    margin-left: 50%;
    margin-bottom: 100px;
}

.testimonial2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.testimonial {
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 60px;

}

.testimonialpic {
    width: 250px;
    height: 300px;
    margin-left: 150px;
    padding-left: 50px;
    border-radius: 30px;
}

.testimonial-info {
    padding-left: 160px;
    padding-right: 100px;
    margin-bottom: 30px;
}

#comic-title {
    margin-left: 58%;
    margin-top: 180px;
    margin-bottom: 100px;
}

.comicpic {
    width: 40%;
    height: 40%;
    margin-left: 50%;
    margin-bottom: 80px;
    margin-top: 30px;
}

.comic {
    margin-left: 50%;
    
}

.comic-release {
    margin-left: 50%;
    margin-bottom: 40px;
    color:azure;
    
}

#madeby {
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 30px;
}



      


   











